In [1]:
print("Hope AI")

Hope AI

In [3]:
val = input("Enter your institute name? : ")
print(val)

Enter your institute name? :  HOPE AI

HOPE AI

In [9]:
val1 = input("Enter your name: ") 
val2 = input("Enter your age:")
val3 = input("Enter your school name:")
val4 = input("Enter your degree:")

Enter your name:  Raj
Enter your age: 15
Enter your school name: Guru school
Enter your degree: B.E SCE

In [13]:
a=43
b=34
print("a=",a)
print("b=",b)
print("add=",a+b)

a= 43
b= 34
add= 77

In [15]:
a=43
b=34
print("a=",a)
print("b=",b)
print("add=",a-b)

a= 43
b= 34
add= 9

In [17]:
a=63
b=97
print("a=",a)
print("b=",b)
print("add=",a*b)

a= 63
b= 97
add= 6111

In [19]:
a=76
b=31
print("a=",a)
print("b=",b)
print("add=",a/b)

a= 76
b= 31
add= 2.4516129032258065

In [25]:
a=76
b=31
print("a=",a)
print("b=",b)
print("add=",(a//b))

a= 76
b= 31
add= 2

In [27]:
a=76
b=31
print("a=",a)
print("b=",b)
print("add=",(a%b))

a= 76
b= 31
add= 14

In [31]:
a=4
b=4
print("a=",a)
print("b=",b)
print("add=",(a**b))

a= 4
b= 4
add= 256