In [8]:
#1.Find the error in the following Python code:

for i in range(5):
    print(i)

0
1
2
3
4

In [14]:
#2.What will be the output of this code? ading different data type will give error Error, change charecter to integer 5 

a = 10
b = 5
print(a + b)

15

In [10]:
#3.What is the issue in this Python snippet? function Colon(:) was missing

def add_numbers(a, b):
    return a + b

add_numbers(1,2)

3

In [18]:

#4.Identify the bug in the following Python code: unexpected intent and list index is out of range

numbers = [1, 2, 3, 4]
print(numbers[3])

4

In [20]:
#5.Find the error in the following Python code: Parantheseis is missing
print("Hello, World!")

Hello, World!

In [28]:
#6.Find the error in the following Python code: divide by zero exception, using tey and catch closed
try:
 x = 5/0
except ZeroDivisionError:
    print("division by zero error")

division by zero error

In [36]:
#7.Find the error in the following Python code:name = "Alice" is missing
age = 25
name = "Alice"
print(f"Name: {name} Age: {age}")

Name: Alice Age: 25

In [50]:
#8.Find the error: reverse the range value to -1 from 10 to 1
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [56]:
#9. Find the error in the following Python code: comparision operator ("==") is missing
x = 10
if x == 5:
    print("x is 5")

In [62]:
#10. Identify the error in the following function definition: semicolon (:) is missing in function

def greet(name):
    print("Hello, " + name)

greet("Sangar")

Hello, Sangar